.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}

.rightbarProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(49, 181, 49);
    position: absolute;
    top: -3px;
    right: -2px;
    border: 2px solid white;
}

.rightbarUsername{

}